.welcome-card {
  width: 60%;
  height: 40%;
  background-color: transparent;
  border: 1px solid #727272;
  border-radius: 10px;
  box-shadow: -3px 4px 13px 0px;
  color: black;
  position: absolute;
  top: 250px;
  left: 249px;
  display: flex;
}

.image {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px;
}

.btn-main {
  background-color: #393f47;
  color: #fff;
  border-color: #434a54;
  width: 110px!important;
}

.btn:hover {
  color: rgba(199, 184, 184, 0.75)!important;
}

#particles-js{
  background-image: url('../background1.jpg');
  background-size: cover;
  background-color: #434a54;
}

.bg-trans {
  background-color: transparent!important;
}